# Tuples 

- tuples are sequence of values that are immutable 

- tuples can be indexed by an integer 

- They are comma separated values that can be enclosed with a bracket 

- Enclosing it in a bracket doesn't necessarily make it a tuple, but the comma separation does

### Creating a tuple

In [1]:
t1= 2,3,4,5

In [2]:
type(t1)

tuple

In [5]:
t2= (2)

t3= 3,

print(type(t2), "  ", type(t3))

<class 'int'>    <class 'tuple'>

In [8]:
## Besides a comma separation, we can create a tuple with the tuple function


t= tuple("James")

print(t, type(t))

('J', 'a', 'm', 'e', 's') <class 'tuple'>

In [17]:
hex(id(t))

'0x10db25bc0'

In [18]:
t[0:2]

('A', 'a')

In [19]:
t= ("A",) + t[1:]

In [20]:
hex(id(t))

'0x10dbba840'

### Tuple Comparison Operator

- When using an operator such as < between two tuples, each element is compared sequentially to find an option that meets the conditions, if the condition is met, the subsequent elements do not matter

In [22]:
(2,30000,4000) < (4,5,6)

True

## Tuple Assignment 

- This section covers how tuples easily help us assign variables 

- Instead of reassigning variables, we can just say:

    - a, b = b,a

In [26]:
a,b= 1,2 

print(a)
print(b)

1
2

In [28]:
addr= 'monty@python.org'

uname, domain= addr.split('@')

print(uname, domain)

monty python.org

## Tuples as Return Values