# The Goodies

## Conditional Expressions

In [2]:
import math 

x= 20

if x > 0:
    y= math.log(x)
else:
    y= float('nan')

In [3]:
print(y)

2.995732273553991

- In the above code, we learn how to use the if statement; however, the difference is that with this, we are having it return a NaN (not a number) instead of raising an error

In [ ]:
## a concise way of writing the above program 

y= math.log(x) if x>0 else float('nan')

##this reads as perform log x if x is positive else return NaN

In [ ]:
## for recursive functions, we can rewrite them as 

def factorial(n):
    if n <0:
        return 
    elif n==0:
        return 1
    return n * factorial(n-1)

In [9]:
def factorial(n):
    return None if n <0 else 1 if n==0 else n * factorial(n-1)

## List Comprehension

In [10]:
j= [x for x in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

We can also use list comprehensions in:

- Mapping

- Reducing 

- Filtering

In [12]:
def captalize_all(t):
    res= []
    for s in t:
        res.append(s.capitalize())
    return res

In [17]:
def capitalize_all(t):
    return [s.capitalize() for s in t]

In [18]:
capitalize_all(["kwaku", "yaw", "peter"])

['Kwaku', 'Yaw', 'Peter']

In [19]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

In [22]:
def only_upper(t):
    [res.append(s) for s in t if s.isupper()]

If you notice the general format is: output--> loop condition --> conditional expression

## Generator Expressions

- These are similar to list expressions but with parenthesis 

- The difference is that it generates an object and it waits for it to be called manually before it performs an action

In [23]:
g= (x**2 for x in range (5))

In [24]:
g

In [25]:
next(g)

0

In [26]:
next(g)

1

In [27]:
for val in g:
    print(val)

4
9
16

## Any and All

- Any returns true if any of the value is true

In [ ]:

any(letter == "t" for letter in "chase")

False

In [29]:
any(letter == "t" for letter in "chaste")

True

## Gathering Keywords Args

- We use args for to take in a variable number of positional arguments: arguments that are inputted in a speicif order.This returns a tuple
- We use kwargs for keyword arguments: A case where we set an argument to a specific value. This returns a dictionary.

In [30]:
def printall(*args):
    print(args)

In [31]:
printall(1,2,3,5)

(1, 2, 3, 5)

In [33]:
def printall(**kwargs):
    print(kwargs)

In [35]:
printall(name= "Gregory", date= 2024)

{'name': 'Gregory', 'date': 2024}