# Lists

Beyond lists, this chapter will focus on:

- objects and what can happen when you have more than one name for the same object.

- A list is a sequential collection of items that are wrapped around square brackets 

- Lists can comprised of variious items of different data types and even another lists.

## Lists Are Mutable: 

- Basically, unlike strings, we can access and change an item in a list

In [1]:
list= [2,3,"James", [4,5,4]]

In [2]:
list[2]

'James'

In [4]:
list[2]= "Gamer"

In [5]:
list

[2, 3, 'Gamer', [4, 5, 4]]

**List indices work the same way as string indices:**

- Any integer expression can be used as an index.
- If you try to read or write an element that does not exist, you get an IndexError.
- If an index has a negative value, it counts backward from the end of the list.

**Some Other Note:**

- The in operator works in Strings

## Traversing a List

- As we know travesing has to do with accessing each element in a list 

- For a list we can use a for loop to do so 

- If you run a for loop on an empty list, the body of the loop never runs 

- If a list contains another list, the inner list is considered as one element

In [23]:
list= [2,3,4,5,5]

In [24]:
for i in range(len(list)):
    list[i]= list[i]*2



print(list)

[4, 6, 8, 10, 10]

## List Operations 

- The + concatenates lists 

- The * operator duplicates a given list n number of times 

- Substraction and division aren't supported in lists

In [28]:
list_1= [1,2,3,4]

list_2= [5,6,7,8]

print(list_1+list_2)

print(list_1*3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]


## List Slices 

- This works similar to that of strings

- Since lists are mutable, it is important to make a copy before you perform any operations

In [31]:
list= [2,3,4,2,3,2,1,1,2]

list[2:4]= ['james', "Kwaku"]

[2, 3, 'james', 'Kwaku', 3, 2, 1, 1, 2]

## List Methods

There are various methods we can apply to a list, these include:

- .append(): To add an element 
- .sort(): To arrange in ascending order but works only when list has one data type
- .pop(): To remove the last element

In [38]:
list[2:4]= [2,4]

print(list)

[1, 1, 2, 4, 2, 2, 2, 2, 3, 3, 2]

In [42]:
list.append(54)

print(list)

[1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4, 54]

In [43]:
list.sort()

print(list)

[1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4, 54]

In [44]:
list.pop()

print(list)

[1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4]

## Map, Filter and Reduce 

 - **Reduce**: This means compression a list into a single value such as summing all the elements of a list 

 - **Mapping:**: This has to do with applying a function onto the elements of one list onto a new list or another list 

 - **Filter:** This has to do with applying a condition on a list and for the elements that are `TRUE` gets fed into another list

In [45]:
## Reduce 

list

[1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4]

In [47]:
x= 0

for i in list:
    x+=i
print(x)

24

In [48]:
##map 

t= []

for i in list:
    t.append(i *2)
print(t)

[2, 2, 4, 4, 4, 4, 4, 4, 6, 6, 8]

In [51]:
t, list

([2, 2, 4, 4, 4, 4, 4, 4, 6, 6, 8], [1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4])

In [53]:
## filter 

k= []
for i in list:
    if i > 2:
        k.append(i)
print(k)

[3, 3, 4]

## Deleting Elements 

There are two ways to remove an element from a string:

- .remove: With this you need to specify the name of the value you want to remove
- .pop: With this you don't need to specify as it remmoves the last element, but you can also specify the index of the item you want to remove
- del list[i]: This can have you remove an element by specifying the slicing range or just the index

In [58]:
list= [1,2,3,4,22,66,77,99]

In [59]:
list.remove(99)

list

[1, 2, 3, 4, 22, 66, 77]

In [60]:
list.pop()

list

[1, 2, 3, 4, 22, 66]

In [61]:
del list[:2]

In [62]:
list

[3, 4, 22, 66]

## Lists and Strings 

- A string is a sequence of characters and a list is a sequence of values 

- Even though these are both sequences, they do not have the same characters 

- We can use the list() function to a string to a list; therefore it is important to avoid using `list` as a variable name 

- We will realize that using the .split() function

In [ ]:
##deleting the initial list created so that Python doesn't get confused as to which list I am referring to below 
del list

In [70]:
##we can convert a string to a list using 

s= "thanks"

t= list(s)

In [73]:
## we can also use the split() method for this 

k= "Kwaku and Agyei Went Quadbiking"

q= k.split()


print(q, type(q))

['Kwaku', 'and', 'Agyei', 'Went', 'Quadbiking'] <class 'list'>

In [ ]:
##here I am specifying the delimiter 
k= "Kwaku, is, a, good big, boy"

i= k.split(",")

In [77]:
i

['Kwaku', ' is', ' a', ' good big', ' boy']

## Objects vs Values 

- Tiny strings or values with no spaces or punctuation marks that are immutable share the same memory location (they get interned)

- Longer strings or values (immutable) do not share the same memory location (they do not get intereded

- Mutable data types in general do not get interned since they can get changed anytime

In [81]:
## this means:

a= 'banana'

b= 'banana'

##These two share the same location in memory 

## however, 

c= [1,2,3]

d=[1,2,3]

print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))
print(hex(id(d)))

0x1123d54a0
0x1123d54a0
0x114250f40
0x114250e40

**In Summary:**

- a and b are equivalent and idenitcal 

- c and d are equivalent but not identical

In [84]:
print(a is b, c is d) ##checking for identicality 

print(a==b, c==d) ## checking for equivalence

True False
True True

## Aliasing 

- This has to do with having two variables refer to the same object by equating (referencing) one to the other 

- An object with more than one reference is called an alias 

- If the object is immutable, then any changes made to one doesn't affect the other

- If the object is mutable, then any changes made to one affect the other

In [85]:
a=b

In [88]:
a= "Chocolate"

print(a, b)

Chocolate banana

In [89]:
c=d

In [90]:
c[0]= "dog"

print(c,d)

['dog', 2, 3] ['dog', 2, 3]

In summary: 

- We can see for the strings object variables, after equating them, the changes made to one didn't affect the other 

- However, for the lists, the changes made to one affected the other

## List Arguments

- When you pass a list as an argument to a function, the list object and the parameter of the function gets aliased if we are mutating the list; however, if we are rebinding the list, they point to different objects in memory.

- Operations that create a new list is known as `rebinding` and leaves the original unchanges. Operations that modify the current list is known as `mutation` and change the original

In [91]:
t1= [1,2]

t2= t1.append(3)

In [ ]:
print(t1, hex(id(t1)))
print(t2, hex(id(t2)))

##therefore append mutates

[1, 2, 3] 0x11418aa80
None 0x1066321a0

In [ ]:
t1= [1,2,3,4]

t2= [1,2,3,4]

t3= t1 + t2

print(t1, hex(id(t1)))
print(t2, hex(id(t2)))
print(t3, hex(id(t3)))


##therefore, addition of two lists is rebinding

[1, 2, 3, 4] 0x114044e40
[1, 2, 3, 4] 0x114045c00
[1, 2, 3, 4, 1, 2, 3, 4] 0x114046b00

In [101]:
def tail(t):
    return t[1:]

## Important Note:

- Most list Methods return None and modify the argument (mutation)

- Most string methods leave the original as it is and modifies the argument (rebinding )

## Exercises:

- Exercise 10-1.
- Write a function called nested_sum that takes a list of lists of integers and adds up the elements from all of the nested lists. For example:
>>> t = [[1, 2], [3], [4, 5, 6]]
>>>nested_sum(t)
21

In [169]:

def nested_sum(t):
    p=0
    for value in t:
        for items in value:
            p= items +p
    return p

In [170]:
t1= [[1, 2], [3], [4, 5, 6]]

In [171]:
nested_sum(t1)

21

In [131]:
range(len(t))

range(0, 3)

0