# Tuples 

- tuples are sequence of values that are immutable 

- tuples can be indexed by an integer 

- They are comma separated values that can be enclosed with a bracket 

- Enclosing it in a bracket doesn't necessarily make it a tuple, but the comma separation does

### Creating a tuple

In [1]:
t1= 2,3,4,5

In [2]:
type(t1)

tuple

In [5]:
t2= (2)

t3= 3,

print(type(t2), "  ", type(t3))

<class 'int'>    <class 'tuple'>

In [8]:
## Besides a comma separation, we can create a tuple with the tuple function


t= tuple("James")

print(t, type(t))

('J', 'a', 'm', 'e', 's') <class 'tuple'>

In [17]:
hex(id(t))

'0x10db25bc0'

In [18]:
t[0:2]

('A', 'a')

In [19]:
t= ("A",) + t[1:]

In [20]:
hex(id(t))

'0x10dbba840'

### Tuple Comparison Operator

- When using an operator such as < between two tuples, each element is compared sequentially to find an option that meets the conditions, if the condition is met, the subsequent elements do not matter

In [22]:
(2,30000,4000) < (4,5,6)

True

## Tuple Assignment 

- This section covers how tuples easily help us assign variables 

- Instead of reassigning variables, we can just say:

    - a, b = b,a

In [26]:
a,b= 1,2 

print(a)
print(b)

1
2

In [28]:
addr= 'monty@python.org'

uname, domain= addr.split('@')

print(uname, domain)

monty python.org

## Tuples as Return Values

In [32]:
t= divmod(7,3)

type((7,3))

tuple

In [33]:
qout, rem= divmod(7,3)

In [36]:
print(qout, rem)

2 1

In [37]:
def min_max(t):
    return min(t), max(t)



min_value, max_value= min_max([2,3,4,5,6,7,9,10])

print(min_value)
print(max_value)

2
10

- In summary, Python functions can only return one value. However, we can have the function return a tuple, and then we unpack the tuple to get two values

## Variable-Length Argument Tuples

- Normally, we can take in a specified variable number of arguments in python. However, in a case where we cannot specify, we can use the `* args` for that. 

- However, the above returns a tuple 

- We can use the `*args` to gather and we can also use `*` to scatter

In [ ]:
## for gathering, we are not limiting the total values the function can take in

def printall(*args):
    print(args)

In [41]:
printall("James", "Kwaky", "Yaw")

('James', 'Kwaky', 'Yaw')

In [ ]:
## for scatering, since divmod doesn't take in a tuple, we can scatter it

t= (7,3)

divmod(*t)

(2, 1)

## Lists and Tuples 

- One of the ways lists and tuples interact is through the zip function

- The zip function iterates through the given values, and then returns the pair as a tuple 

- That being said, a zip is a **lazy iterator**. Hence, unless you explictly tell it to iterate over a given list, it won't, and it will give you just an address

In [46]:
s= 'abc'

t= [0,1,2]

zip (s,t)

In [62]:
for i in zip(s,t):
    print(i)

('a', 0)
('b', 1)
('c', 2)

- As we can see the iteration, pairs each element from each variable, and returns the pair as a tuple 

- However, we cannot index these elements or use list operators. We can convert the zipped elements to a list to do this 

- That being said, a zip is a **lazy iterator**. Hence, unless you explictly tell it to iterate over a given list, it won't, and it will give you just an address

In [58]:
James= list(zip('William', "James"))

James

[('W', 'J'), ('i', 'a'), ('l', 'm'), ('l', 'e'), ('i', 's')]

- From this we can seem that the zip function truncates to match the length of the shortest value in the tuple.

In [63]:
## writing a function to detect similar object 

def similar (a,b):
    for x,y in zip(a,b):
        if x==y:
            return True 
    return False

In [64]:
a= [2,3,4,5,6]

b= [2,5,7,7,7]

In [65]:
similar(a,b)

True

In [66]:
## we can use the the enumerate function to traverse elements and their indices 

for index, element in enumerate('abc'):
    print(index, element)

0 a
1 b
2 c

## Dictionary and Tuples 

- We can use the dict.items() to return a list of tuples of each key and value pair 

- We can also use tuples to create a dictionary 

- We can also combin a dict and zip to yield a dictionary

In [ ]:
##converting a dictionary into a list of tuples 

d = {"James": 1, "Kwame": 2, "Kwaku": 4}

print(d.items())

dict_items([('James', 1), ('Kwame', 2), ('Kwaku', 4)])

In [76]:
for key, value in d.items():
    print(key)
    print(value)

James
1
Kwame
2
Kwaku
4

In [ ]:
##converting a list of tuples in

tups= [('James', 1), ('Kwame', 2), ('Kwaku', 4)]

diccct= dict(tups)

diccct

{'James': 1, 'Kwame': 2, 'Kwaku': 4}

In [77]:
##using zip 

d= dict(zip("abc", range(3)))

In [78]:
d

{'a': 0, 'b': 1, 'c': 2}

## Sequences of Sequences 

We can have:

- List of Tuples	`[('A', 1), ('B', 2)]`
- List of Lists	`[[1, 2], [3, 4]]`
- Tuple of Tuples	`((1, 2), (3, 4))`
- Tuple of Lists	`([1, 2], [3, 4])`

### Cases to use Tuples: 

1. In some contexts, like a return statement, it is syntactically simpler to create a
tuple than a list.
2. If you want to use a sequence as a dictionary key, you have to use an immutable
type like a tuple or string.
3. If you are passing a sequence as an argument to a function, using tuples reduces
the potential for unexpected behavior due to aliasing.

## Exercise

Write a function called most_frequent that takes a string and prints the letters in
decreasing order of frequency. Find text samples from several different languages and
see how letter frequency varies between languages.

In [ ]:
def most_frequent(*arg):